{% ckan_extends %}

{% block extras %}
{{super()}}
  {% if pkg_dict.category %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Category") }}</th>
      <td class="dataset-details">{{ pkg_dict.category }}</td>
    </tr>
  {% endif %}

  {% if pkg_dict.location %}
  <tr>
    <th scope="row" class="dataset-label">{{ _("Location") }}</th>
    <td class="dataset-details">
      {% for loc in pkg_dict.location %}
      <p>{{ loc['name'] }}</p>
      {% endfor %}
    </td>
  </tr>
{% endif %}
{% endblock %}