{% ckan_extends %}



{% block package_basic_fields_custom %}
    {% import 'macros/form.html' as form %}

    {% set opts =  h.custom_categories_list() %}
    

    {% if data.get('category') %}
        {% set selected1 =  data.get('category') %}
    {% else %}
        {% set opts = [{'text':'Select Option','value':''}] + opts %}
        {% set selected1 = '' %}    
    {% endif %}
        
    
    {{ form.select('category', label=_('Category'), options= opts, selected=selected1, error=errors.category) }}
{% endblock %}

